@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "peyda";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/src/assets/fonts/Peyda-Medium.ttf") format("ttf");
}

@layer base {
  :root {
    --color-main: #232323;
    --color-green: #8cff45;
    --color-gray: #363636;
    --color-white: #ffffff;
    --color-purple: #7569ff;
    --color-text-gray: #aaaaaa;
    --color-secondary-gray: #444444;
    --color-red: #ff5555;
    --color-border-gray: #565656;
  }

  .dark {
    --color-main: #232323;
    --color-green: #8cff45;
    --color-gray: #363636;
    --color-white: #ffffff;
    --color-purple: #7569ff;
    --color-text-gray: #aaaaaa;
    --color-secondary-gray: #444444;
    --color-red: #ff5555;
    --color-border-gray: #565656;
  }

  /* custom tags */
  h2 {
    @apply lg:text-[32px] sm:text-2xl text-xl
  }

  h3 {
    @apply lg:text-xl sm:text-lg text-base
  }

  p {
    @apply lg:text-base text-sm
  }

}