@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-main: #232323;
    --color-green: #8cff45;
    --color-gray: #363636;
    --color-white: #ffffff;
    --color-purple: #7569ff;
    --color-text-gray: #aaaaaa;
    --color-secondary-gray: #444444;
    --color-red: #ff5555;
    --color-border-gray: #565656;
  }
  .dark {
    --color-main: #232323;
    --color-green: #8cff45;
    --color-gray: #363636;
    --color-white: #ffffff;
    --color-purple: #7569ff;
    --color-text-gray: #aaaaaa;
    --color-secondary-gray: #444444;
    --color-red: #ff5555;
    --color-border-gray: #565656;
  }

  body {
    overflow-x: hidden !important;
  }

  @font-face {
    font-family: Peyda Thin;
    src: local("Peyda"), url("../assets/Fonts/PeydaWeb-Thin.woff2"),
      format("woff2");
  }
  @font-face {
    font-family: Peyda ExtraLight;
    src: local("Peyda"), url("../assets/Fonts/peydaWeb-extralight.woff2"),
      format("woff2");
  }
  @font-face {
    font-family: Peyda Light;
    src: local("Peyda"), url("../assets/Fonts/peydaWeb-light.woff2"),
      format("woff2");
  }
  @font-face {
    font-family: Peyda Regular;
    src: local("Peyda"), url("../assets/Fonts/PeydaWeb-Regular.woff2"),
      format("woff2");
  }
  @font-face {
    font-family: Peyda Medium;
    src: local("Peyda"), url("../assets/Fonts/PeydaWeb-Medium.woff2"),
      format("woff2");
  }
  @font-face {
    font-family: Peyda DemiBold;
    src: local("Peyda"), url("../assets/Fonts/PeydaWeb-SemiBold.woff2"),
      format("woff2");
  }
  @font-face {
    font-family: Peyda Bold;
    src: local("Peyda"), url("../assets/Fonts/PeydaWeb-Bold.woff2"),
      format("woff2");
  }
  @font-face {
    font-family: Peyda ExtraBold;
    src: local("Peyda"), url("../assets/Fonts/PeydaWeb-ExtraBold.woff2"),
      format("woff2");
  }
  @font-face {
    font-family: Peyda black;
    src: local("Peyda"), url("../assets/Fonts/PeydaWeb-Black.woff2"),
      format("woff2");
  }
  @font-face {
    font-family: Peyda Number;
    src: local("Peyda"), url("../assets/Fonts/Peyda(FaNum).ttf"),
      format("ttf");
  }
}

@layer components {
  .label-input {
    @apply text-base !text-black !top-[37px] !right-[15px] bg-[#8CFF45] px-2;
  }
  .input {
    @apply !text-xl;
  }
  .inputWrapper-input {
    @apply !rounded-2xl !border-[#363636];
  }
}
